<div class="row">
    <div class="col-sm">
        <div class="card card-body mb-2 col-sm" style="background-color: #81eff7;">
            <h4 align="center">Water Level &nbsp<i class="fa-solid fa-water"></i></h4>
            <div class="card card-body mb-2">
                <h6 align="center">Latest Water Level Value</h6>
                <div id="latest-WaterLevel"></div>
            </div>
        </div>
    </div>
    <div class="col-sm">
        <div class="card card-body mb-2 col-sm" style="background-color: #81f79b;">
            <h4 align="center">Fish Feeder &nbsp<i class="fa-brands fa-digital-ocean"></i></h4>
            <div class="card card-body mb-2">
                <div class="row">
                    <div class="col-sm">
                        <h6 align="center">Last Feed Time</h6>
                            <div>
                                <h4 align="center">{{lastFeedTime}}</h4>
                            </div>
                    </div>
                    <div class="col-sm">
                        <h6 align="center">Next Feed Time</h6>
                            <div>
                                <h4 align="center">{{nextFeedTime}}</h4>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>