<link href="/stylesheet/controls.css" rel="stylesheet">

<div class="container">
    <div class="container-fluid p-5 text-right">
    
</div>
<form class="form-group" style="font-family: 'Nanum Gothic', sans-serif;">
<div class="container">
  <div class="row">
    <div class="col-sm-2">    
    </div>
    <div class="col-sm-4 text-center" style="margin-right: 20px;">
        <h1 style="font-weight: bolder; margin-top: 25px;">Control System</h1>
              
        <div class="row">
                    <div class="card " style="width:100rem; padding: 40px; box-shadow: 10px 10px rgb(0, 0, 0); border-color:rgb(255, 153, 0); border-width: 5px; border-radius: 40px; margin-top: 10px;">               
                    <h3 style="font-weight: bolder;"><img src="/img/temp.png" alt="logo" style="width: 20px; length: 20px;">         Temperature</h3>
                    <h5> Keep Value at:</h5>
                    <div id="input">
                    <div class="row">  
                    <div class="col-5">
                        <input type="number" name="value" class="form-control" placeholder="C&#176;"> 
                      </div> 
                    <div class="col-2">
                        <h4 align="center">-</h4>
                    </div>
                    <div class="col-5">
                        <input type="number" name="value" class="form-control" placeholder="C&#176;">
                    </div>
                </div>
                </div>
                </div>
                </div>
                  
                   <div class="row">
                    <div class="card" style="width:100rem; padding: 40px; box-shadow: 10px 10px rgb(0, 0, 0); border-color:rgb(56, 161, 161); border-width: 5px; border-radius: 40px; margin-top: 20px;">                 
                                <h3 style="font-weight: bolder;"><img src="/img/DO.png" alt="logo" style="width: 40px; length: 40px;">  Dissolve Oxygen</h3>
                                <h5> Keep Value at:</h5>
                                <div id="input">
                                <div class="row">  
                                <div class="col-5">
                                    <input type="number" name="value" class="form-control" placeholder="ppm"> 
                                  </div> 
                                <div class="col-2">
                                    <h4 align="center">-</h4>
                                </div>
                                <div class="col-5">
                                    <input type="number" name="value" class="form-control" placeholder="ppm">
                                </div>
                            </div>
                            </div>
                            </div>
                            </div>
                        </div>
    
      <div class="col-sm-4 text-center">  
        <button type="button" class="btn btn-success " style="float:right; margin-inline-end: 40px; margin-top: 10px;">Save</button>  
        <br>
        <br>
        <hr style="height:2px;border-width:0;color:green;background-color:green">    
             
            <div class="row">
                        <div class="card" style="width:100rem; padding: 43px;  box-shadow: 10px 10px rgb(0, 0, 0); border-color:rgb(38, 0, 255); border-width: 5px; border-radius: 40px; margin-top: 10px;">                
                        <h3 style="font-weight: bolder;"><img src="/img/ph.png" alt="logo" style="width: 30px; length: 30px; margin-right: 10px;">pH Level</h3>
                        <h5> Keep Value at:</h5>
                        <div id="input">
                        <div class="row">  
                        <div class="col-5">
                            <input type="number" name="value" class="form-control"> 
                          </div> 
                        <div class="col-2">
                            <h4 align="center">-</h4>
                        </div>
                        <div class="col-5">
                            <input type="number" name="value" class="form-control">
                        </div>
                    </div>
                    </div>
                    </div>
                    </div>
          
                    <div class="row">
                       <div class="card" style="width:100rem; padding: 53px;  box-shadow: 10px 10px rgb(0, 0, 0); border-color:rgb(197, 146, 52); border-width: 5px; border-radius: 40px; margin-top: 20px;">                
                           <h3 style="font-weight: bolder;"><img src="/img/fish.png" alt="logo" style="width: 70px; length: 70px;">Fish Feed</h3>
                                     
                            <div class="row"> 
                            <div class="col-6">
                            <h5> Frequency </h5> 
                            </div> 
                            <div class="col-6">
                            <input type="number" name="value" class="form-control" placeholder="per day">
                            </div>
                          </div>
                       </div>
                     </div>
                  </div>  
      </div>
    <div class="col-sm-2"> </div>
    </div>
</div>
</form>
</div>