<div class="container" style="font-family: 'Nanum Gothic', sans-serif;">
        <h1 class="display-1 text-center">Aquaponics System</h1>
        <h5 class="text-center">This is the dashboard of Design of Automated Aquaponics System
            for Laguna State Polytechnic University.
        </h5>
        <hr><br>

        <h1 class="display-4">Sensor Values</h1>
        <h5> Cloud based monitoring system that graphs the values of the sensors from
            the Aquaponics System in realtime </h5>
        <a href="/monitoring"><h3>Dashboard - Sensor Values </h3></a>
        <hr><br>

        <h1 class="display-4">Control System</h1>
        <h5> Controls the feed frequency and other equipments in the Aquaponics System</h5>
        <a href="/controls"><h3>Dashboard - Control System </h3></a>
        <hr><br>
        
</div>

